<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test-class Suite" parallel="tests" thread-count="2">
    <test name="Test 1">
        <parameter name="device" value="Motorola_Moto_G_2nd_gen_real" />
        <classes>
            <class name="com.saucelabs.example.TestSetup" />
        </classes>
    </test>
    <test name="Test 2">
        <parameter name="device" value="Samsung_Galaxy_S5_real" />
        <classes>
            <class name="com.saucelabs.example.TestSetup" />
        </classes>
    </test>
</suite>